<!DOCTYPE html>
<html lang="en" ng-app="knarflog">
<head>
  <title>skipflog:players</title>
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>
<table>
    <thead>
      <tr><th classname="header" colspan="5"> {{event.Name }}</th></tr>
      <tr>
          <th>Rank</th>
          <th>Player Name</th>
          <th>Points</th>
          <th>Odds</th>
          <th>Picked-By</th>
      </tr>
    </thead>
    <tbody>
   {% for player in event.players %}
      <tr>
        <td>{{player.rank}}</td>
        <td>{{player.name}}</td>
        <td>{{player.points}}</td>
        <td>{{player.odds}}</td>
        <td>{{player.picked}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
</div>

</body>
</html>
