.App {
  background-color: #fefefe;
  height: 100vh;
  width: 100%;
}

table { 
color: #222222; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
border-collapse: 
collapse; border-spacing: 0; 
}
.no-border { 
  border: none!important; 
  border-collapse: collapse;
}
td, th { border: solid; 
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
} /* Make cells a bit taller */

.heading {
  justify-content: center;
  color: black;
  background-color: lightgray;
}

.pick-table {
  width: 80%;
  align-content: left;
  margin: 5px;
  border: 1px solid;
}

.points-table {
  width: 50%;
  align-content: right;
  margin: 10px;
  border: 1px solid;
}

input,h5,ol,label {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 30px;
}

.table-data {
  text-align:center;
  border: 1px solid;
  border-collapse: collapse;
}

.table-data-left {
  text-align:left;
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}

.table-header {
  text-align:center;
  background-color:lightgrey;
  border: 1px solid;
}

.points-table-header {
  background-color:lightgrey;
  border: 1px solid;
  border-collapse: collapse;
}

.altpick {
  vertical-align: text-bottom;
}
.table-row {
  text-align: left;
  margin: 5px;
  border: 1px solid;
}

.event-table {
  width: 95%;
  align-content: center;
  margin: 20px;
}

.results-table {
  width: 40%;
  align-content: center;
  margin: 20px;
}

.center {
  text-align: center;
  }
.right {
  float: right;
}
.left {
  float: left;
}
.heading {
	font-size: 16px;
	justify-content: center;
	color: black;
	background-color: lightgray;
}

.input-filter {
  border-collapse: collapse;
}

.strong {
  font-size: 18px;
    font-weight: bold;
    margin: 10px;
    text-align: left;
  }

  .weak {
    font-size: 18px;
      font-weight: 600;
      margin: 10px;
      text-align: left;
    }