{% extends "index2.html" %}
{% block content %}
{% if event %}
   {% if event.lastpick %}
   Last Pick: {{event.lastpick}} <p>
    <table border=1>
	<col width="250">
	<col width="250">
    <tr>
   {% for picker in event.pickers %}
	<th>{{picker}}</th>
   {% endfor %}
    <tr>
   {% for picker in event.pickers %}
	<td><ol>
        {% for player in event.picks[picker] %}
        <li>{{ player }}
        {% endfor %}
     </ol></td>
    {% endfor %}
   </tr></table>
  {% endif %}
   {% if user==event.next %}
    <p><form action="/pick" method="post">
    <div>{{user}}'s {{picknum}} Pick: <select name="player"> 
  	 {% for player in event.picks["Available"] %}
     <option>{{player}}</option>
     {% endfor %}
     </select><input type="submit" id="submit" name="submit" value="Pick"></div>
    <input type="hidden" name="who" value="{{user}}">
    <input type="hidden" name="event_id" value="{{event.event_id}}">
    <input type="hidden" name="pick_no" value="{{pick_no}}">
    </form>
   {% else %}
   {% if event.next=="Done" %}
   {% if user %}
   <p><form action="/mail" method="post">We're Done. <input type="hidden" name="event_id" value="{{event.event_id}}">
      <input type="submit" id="submit" value="Email Picks"></form>
   {% else %}
   <p>We're Done.
   {% endif %}
   {% else %}
   <br>It's <b>{{event.next}}'s</b> turn.
   {% endif %}
{% endif %}
{% endif %}
{% endblock %}
