<!DOCTYPE html>
<html>
<head>
  <title>skipflog:picks</title>
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>
<table>
    <thead>
      <tr><th colspan="2">{{event.Name }} - Picks</th></tr>
      <tr>
   {% for picker in event.pickers %}
	<th>{{picker}}</th>
   {% endfor %}
      </tr>
    </thead>
   {% for picker in event.pickers %}
	<td><ol>
        {% for player in event.picks[picker] %}
        <li>{{ player }}
        {% endfor %}
     </ol></td>
    {% endfor %}
   </tr>
   </table>
</body>
</html>
