<!DOCTYPE html>
<html>
<head>
  <title>skipflog:picks</title>
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>
<table>
    <thead>
      <tr><th colspan="2">{{event.event_name }} - Picks</th></tr>
      <tr>
   {% for picker in event.pickers %}
	<th>{{picker.name}}</th>
   {% endfor %}
      </tr>
    </thead>
   {% for picker in event.pickers %}
	<td><ol>
        {% for player in picker.picks %}
        <li>{{ player }}
        {% endfor %}
     </ol>
     Alt: {{picker.altpick}}
   </td>
    {% endfor %}
   </tr>
   </table>
</body>
</html>
