<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="app.css">
  <body ng-app="skipflog">
    <div ng-controller="eventsController">
    <div class="container">
        <div class="row">
          <div class="col">
            1 of 2
    Event Name: <select ng-model="event" ng-options="event.event_name for event in events track by event.event_id" ng-change="setEvent()"></select> Search: <input ng-model="query">   
 
  <table>
     <thead>
       <tr><th colspan="9">{{event.event_name}}</th></tr>
       <tr>
           <th><a href="#" ng-click="orderProp='Rank'">Pos</a></th>
           <th><a href="#" ng-click="orderProp='Name'">Player Name</a></th>
           <th><a href="#" ng-click="orderProp='R1'">R1</a></th>
           <th><a href="#" ng-click="orderProp='R2'">R2</a></th>
           <th><a href="#" ng-click="orderProp='R3'">R3</a></th>
           <th><a href="#" ng-click="orderProp='R4'">R4</a></th>
           <th><a href="#" ng-click="orderProp='Agg'">Total</a></th>
           <th><a href="#" ng-click="orderProp='-Points'">Points</a></th>
           <th><a href="#" ng-click="orderProp='Picker'">Picked-By</a></th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="result in players | filter:{Name: '!!'}| filter:query | orderBy:orderProp">
         <td>{{result.Pos}}</td>
         <td>{{result.Name}}</td>
         <td>{{result.R1}}</td>
         <td>{{result.R2}}</td>
         <td>{{result.R3}}</td>
         <td>{{result.R4}}</td>
         <td>{{result.Agg}}</td>
         <td>{{result.Points|number:2}}</td>
         <td>{{result.Picker}}</td>
       </tr>
     </tbody>
   </table>
   <p></p>
   <div ng-if="pickers" class="paddinglr5">
     <table>
     <thead>
       <tr><th>Rank</th>
           <th>Picker</th>	
           <th>Points</th>
          </tr>
     </thead>
    <tbody>
        <tr ng-repeat="picker in pickers | filter:{Name: '!!'} | orderBy:'-points'">
         <td>{{$index + 1}}</td>
         <td>{{picker.Name}}</td>
          <td class="paddinglr5">{{picker.points|number:2}}</td>
       </tr>   
     </tbody>
   </table>
   </div>
   </div><!-- column -->

<div class="col">
  2 of 2
     <table>
      <col width="250">
      <col width="250">
      <thead>
      <tr><th colspan=2>{{event.event_name}}</th></tr>
      <tr><th ng-repeat="picker in pickers" ng-bind="picker.Name"></th>
      </thead>
      <td ng-repeat="picker in pickers">
      <ol>  
          <li ng-repeat="pick in picker.picks">{{pick}}</li>  
       </ol>
       </td></tr>
      </table>
    </div>
  </div>
</div>
<script src="app.js"></script>
</body>
