<!DOCTYPE html>
<html lang="en" ng-app="knarflog">
<head>
  <title>skipflog:picks</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="app.css">
</head>
<script type="text/javascript">
$(document).ready(function() {

	$(".tab_content").hide();
	$(".tab_content:first").show(); 

	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		var activeTab = $(this).attr("rel"); 
		$("#"+activeTab).fadeIn(); 
	});
});
</script> 
<body>
<h3>2015 US Open (skipflog.appspot.com)</h3>
  <ul class="tabs"> 
        <li class="active" rel="tab1">Picks</li>
        <li rel="tab2">Rankings </li>
        <li rel="tab3">Results</li>
  </ul>
<div class="tab_container"> 
  <div id="tab1" class="tab_content">
  <div ng-controller="picksController"> 
  {{ message }}
  <table>
    <thead>
      <tr><th colspan="3"><span ng-bind="picks.Name"></span>'s Picks</tr>
      <tr><th>#</th>
          <th><a href="#" ng-click="orderProp=player">Player Name</a></th>	
          <th>Action</th>	
          </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in picks.Picks | orderBy:orderProp">
        <td>{{$index + 1}}.</td>
        <td><span ng-bind="player"></span></td>
        <td><form ng-submit="dropPlayer()"><input type="hidden" name="player" ng-model="player"><button type="submit" class="btn btn-primary">Drop</button></form>
      </td>
      </tr>
      <tr ng-if="picks.Available">
        <td>{{picks.Count + 1}}.</td>
        <td><form><select data-ng-model="player" data-ng-options="player for player in picks.Available"></select></td>
        <td><button ng-click="addPlayer()" class="btn btn-primary">Pick</button></form>
     </tr>
    </tbody>
  </table>
  <p>You have <span ng-bind="picks.Count"></span> picks, 
    <span ng-if="picks.Count>=picks.Max">so you need to drop {{picks.Count-picks.Max+1}} before picking another player</span> 
    
    <span ng-if="picks.Count<picks.Max">so you can pick {{picks.Max-picks.Count}} more</span>
    <span ng-if="!picks.Available"> (next Mon-Wed). </span>.
    </div>
</div><!-- #tab1 -->

<div id="tab2" class="tab_content"> 
<div ng-controller="playersController">
   Search: <input ng-model="query">   
  <p>
  <table>
    <thead>
      <tr><th colspan="7">World Golf Rankings for {{headers.date}} (Week {{headers.Week}})</th></tr>
      <tr><th>#</th>
          <th><a href="#" ng-click="orderProp='Name'">Player Name</a></th>	
          <th><a href="#" ng-click="orderProp='-Avg'">Points(Avg)</a></th>	
          <th><a href="#" ng-click="orderProp='-Week'">Points(Week)</a></th>
          <th><a href="#" ng-click="orderProp='Rank'">World Rank</a></th>
          <th><a href="#" ng-click="orderProp='-Points'">Points({{year}} )</a></th>
          <th><a href="#" ng-click="orderProp='Picker'">Picked-By</a></th>
          </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players | filter:{Name: '!!'}| filter:query | orderBy:orderProp">
        <td>{{$index + 1}}.</td>
        <td>{{player.Name}}</td>
        <td>{{player.Avg |number:2}}</td>
        <td>{{player.Week |number:2}}</td>
        <td>{{player.Rank}}</td>
        <td>{{player.Points |number:2}}</td>
        <td>{{player.Picker}}</td>
      </tr>
   </tbody>
  </table>
  <P></P>
  <div class="paddinglr5">
    <table>
    <thead>
      <tr><th>Rank</th>
          <th>Picker</th>	
          <th>Count</a></th>	
          <th>Week</th>
          <th>Points</th>
         </tr>
    </thead>
   <tbody>
       <tr ng-repeat="picker in pickers | filter:{Name: '!!'} | orderBy:'-Points'">
        <td>{{$index + 1}}</td>
        <td>{{picker.Name}}</td>
        <td>{{picker.Count}}</td>
        <td class="paddinglr5">{{picker.Week|number:2}}</td>
        <td class="paddinglr5">{{picker.Points|number:2}}</td>
      </tr>   
    </tbody>
  </table>
  </div>
</div>
</div><!-- #tab2 -->
<div id="tab3" class="tab_content"> 
<div ng-controller="resultsController">
   Search: <input ng-model="query">   
  <p>
<div ng-repeat='event in results'>
  <table>
    <thead>
      <tr><th colspan="9">{{event['Event Name']}}</th></tr>
      <tr>
          <th><a href="#" ng-click="orderProp='Rank'">Pos</a></th>
          <th><a href="#" ng-click="orderProp='Name'">Player Name</a></th>
          <th><a href="#" ng-click="orderProp='R1'">R1</a></th>
          <th><a href="#" ng-click="orderProp='R2'">R2</a></th>
          <th><a href="#" ng-click="orderProp='R3'">R3</a></th>
          <th><a href="#" ng-click="orderProp='R4'">R4</a></th>
          <th><a href="#" ng-click="orderProp='Agg">Total</a></th>
          <th><a href="#" ng-click="orderProp='-Points'">Points</a></th>
          <th><a href="#" ng-click="orderProp='Picker'">Picked-By</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in event.Results | filter:{Name: '!!'}| filter:query | orderBy:orderProp">
        <td>{{result.Pos}}</td>
        <td>{{result.Name}}</td>
        <td>{{result.R1}}</td>
        <td>{{result.R2}}</td>
        <td>{{result.R3}}</td>
        <td>{{result.R4}}</td>
        <td>{{result.Agg}}</td>
        <td>{{result.Points|number:2}}</td>
        <td>{{result.Picker}}</td>
      </tr>
    </tbody>
  </table>
  <p>
</div>
  <div ng-if="pickers" class="paddinglr5">
    <table>
    <thead>
      <tr><th>Rank</th>
          <th>Picker</th>	
          <th>Players</a></th>	
          <th>Points</th>
         </tr>
    </thead>
   <tbody>
       <tr ng-repeat="picker in pickers | filter:{Name: '!!'} | orderBy:'-Points'">
        <td>{{$index + 1}}</td>
        <td>{{picker.Name}}</td>
        <td>{{picker.Count}}</td>
        <td class="paddinglr5">{{picker.Points|number:2}}</td>
      </tr>   
    </tbody>
  </table>
</div><!-- #tab3 -->
</html>
