<!DOCTYPE html>
<html lang="en" ng-app="knarflog">
<head>
  <title>Knarflog: Rankings</title>
  <!--link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"-->
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/services.js"></script-->
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="playersController">
  <table>
    <thead>
      <tr><th colspan="7">World Golf Rankings for {{headers.date}} (Week {{headers.Week}})</th></tr>
      <tr><th>#</th>
          <th>Player Name</a></th>	
          <th>Points(Avg)</a></th>	
          <th>Points(Total)</a></th>
          <th>World Rank</a></th>
          <th>Points({{year}} )</a></th>
          <th>Picked-By</th>
          </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players | filter:{Picker: '!!'}| orderBy:orderProp">
        <td>{{$index + 1}}.</td>
        <td>{{player.Name}}</td>
        <td>{{player.Avg |number:2}}</td>
        <td>{{player.Total |number:2}}</td>
        <td>{{player.Rank}}</td>
        <td>{{player.Points |number:2}}</td>
        <td>{{player.Picker}}</td>
      </tr>
   </tbody>
  </table>
  <P></P>
    <table>
    <thead>
      <tr><th>Rank</th>
          <th>Picker</th>	
          <th>Count</a></th>	
          <th>Total</th>
          <th>Points</th>
         </tr>
    </thead>
   <tbody>
       <tr ng-repeat="picker in pickers | filter:{Name: '!!'} | orderBy:'-Points'">
        <td>{{$index + 1}}</td>
        <td>{{picker.Name}}</td>
        <td>{{picker.Count}}</td>
        <td>{{picker.Total|number:2}}</td>
        <td>{{picker.Points|number:2}}</td>
      </tr>   
    </tbody>
  </table>
</body>
</html>
