{% extends "index.html" %}
{% block content %}

{% if event %}
   {% if lastpick %}
   Last Pick: {{lastpick}} <p>
   {% endif %}
    <table border=1>
	<col width="225">
	<col width="225">
    <tr><th>Steve</th><th>Mark</th><tr>
    <tr><td><ol>
    {% for player in splayers %}
       <li>{{ player }}
     {% endfor %}
     </ol></td>
    <td><ol>
    {% for player in mplayers %}
     <li>{{ player }}
    {% endfor %}
   </ol></td>
   </tr></table>
   {% if user==event.next %}
    <p><form action="/pick" method="post">
    <div>{{user}}'s {{picknum}} Pick: <select name="player"> 
  	 {% for player in event.field %}
     <option>{{player}}</option>
     {% endfor %}
     </select><input type="submit" id="submit" name="submit" value="Pick"></div>
    <input type="hidden" name="who" value="{{event.next}}">
    <input type="hidden" name="event_id" value="{{event.event_id}}">
    <input type="hidden" name="pick_no" value="{{pick_no}}">
    </form>
   {% else %}
   {% if event.next=="Done" %}
   {% if user %}
   <p><form action="/mail" method="post">We're Done. <input type="hidden" name="event_id" value="{{event.event_id}}">
      <input type="submit" id="submit" value="Email Picks"></form>
   {% else %}
   <p>We're Done.
   {% endif %}
   {% else %}
   <br>Waiting for <b>{{event.next}}</b>
   {% endif %}
   {% endif %}
   {% else %}
   <form action="/pick" method="get" onchange="this.form.submit()">
   Select Event: <select name="event_id">
   {% for event in event_list %}
    <option value="{{event.event_id}}">{{event.event_name}}</option>
   {% endfor %}
   </select>
<input type="submit" value="Get">
</form>
   {% endif %}
{% endblock %}
